<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, height=device-height">
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="shortcut icon" type="image/png" href="/curly-website/assets/img/gradiconpng.png">
    </head>
    <body>
        <header>
            <a href="/"><h1>Header</h1></a>
            <label for="toggle" class="menuLabel">
                <input type="checkbox" id="toggle" class="menuInput">
                <span class="icon-menu"></span>
                {% include navigation.html %}
            </label>
        </header>
        <div class="container">
            <div class="left">
                {% include sidebar.html %}
            </div>
            <div class="right">
                {{ content }}
            </div>
        </div>
        <footer>
            
        </footer>
    </body>
</html>